# Editor configuration, see https://editorconfig.org
root = true

[*]
charset = utf-8
indent_style = space
indent_size = 4
end_of_line = lf
insert_final_newline = false
trim_trailing_whitespace = true
max_line_length = 100

[*.{json,scss,css}]
indent_size = 2

[*.ts]
quote_type = single

[*.md]
indent_style = tab
max_line_length = off
trim_trailing_whitespace = false
