.ui.dimmer{
	position: fixed;
}

.ui.progress{
	display: none;
}

.ui.login.grid{
	padding-top: 90px;
}

.ui.login.header{
	font-family: Verdana;
	font-weight: normal;
}


body .dialog-widget.background{
background: rgba(0,0,0,.85);
}

.dialog-widget.alert{
	text-align: center;
}

.dialog-widget.alert button.ok{
	margin-top: 30px;
	float: none;
}

.ui.dashboard{
	display: none;
}

.ui.dashboard .content{
	margin-left: 95px;
	width: 100%;
}

.ui.dashboard .courses{
	padding: 8px 10px 10px 0;
}

.ui.dashboard .courses .course{
	position: relative;
}

.ui.dashboard .courses .course .download-speed{
	display: none;
	position: absolute;
	right: 0;
	top:0;
}

.ui.dashboard .courses .course .extra .button{
	padding: 7px 15px;
}

