.courses.items,
.courses.items *,
.ui.settings,
.ui.settings *{
	direction: rtl !important;
	text-align: right !important;
}
.action.input{
	direction: ltr !important;
	text-align: left !important;
}

.course.item .content{
	text-align: left !important;
	padding-right: 10px !important;
	text-align: left !important;
	margin-right: 10px !important;
}


.ui.dashboard > .content{
	margin-right: 95px;
	margin-left: 0px !important;
}

.ui.dashboard .courses .course .download-quality{
	right: 0 !important;
	left: auto !important;
}

.ui.dashboard .courses .course .download-speed{
	left: 0;
	right: auto !important;
}